.app {
   text-align: center;
   color: red;
}

.calculator {
   margin: 20px auto;
   max-width: 600px;

   &__title {
      margin: 0px 0px 10px 0px;
      padding: 10px 0px 0px 0px;

      font-size: 24px;
      line-height: 24px;
   }

   &__step {
      margin: 0px 0px 10px 0px;

      font-size: 18px;
      line-height: 18px;
   }

   &__content {
      margin: 10px;
   }

   &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 10px 10px 10px;
   }

   &__button {
      margin: 0px 10px 0px 10px !important;
   }
}

.calc-content {
   &__header {
      background-color: rgb(218, 218, 218);
      p {
         padding: 10px 0px 10px 0px;

         font-size: 16px;
         font-weight: 700;
         color: rgb(0, 0, 167);
      }
   }

   &__body {
      text-align: left;

      ul {
         margin: 0px 0px 0px 0px;
         padding: 0px 0px 10px 30px;

         li {
            max-width: 100px;
            margin: 0px 0px 5px 0px;
            &:last-child {
               margin: 0px 0px 0px 0px;
            }

            &:hover {
               color: green;
               cursor: pointer;
               text-decoration: underline;
            }
         }
      }
   }
}
